# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map


# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# env variables
.env
lib/service_key.json
service_key.json

# logs
firebase-debug.log
```
src/data/certs