@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* background: #090909; */
  background: #9AA3B1;
  height: auto;
  max-width: 100%;
  min-width: 100vw;
  overflow-x: hidden; 
  overscroll-behavior: none !important;
}
